@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --beige: #F5EFE6;
    --brown: #4B3621;
    --gold: #C9A44C;
    --olive: #9A9F6D;
  }

  body {
    background-color: var(--beige);
    color: var(--brown);
    font-family: 'Inter', system-ui, sans-serif;
  }
}

.card {
  padding: 1.5rem 2rem;
  background: white;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-4px);
}

[dir="rtl"] {
  font-family: "Cairo", "Tajawal", sans-serif;
}